.Rproj.user
.Rhistory
.RData
.Ruserdata
Varianza.html
Simulacion_Bootstrap.html
Laboratorio2.html
Laboratorio2.log
Laboratorio2.tex
Deber-Multidimensionales.html
Control-Charts-Exponencial.html
rsconnect